<!DOCTYPE html>    
<html>    
<head>    
    <title>Subscriber Home</title>    
    <link rel="stylesheet" type="text/css" href="css/style.css">    
</head> 

<label><b>SUBSCRIBER HOME PAGE
</b>    
</label> 
<br><br>

<body>
<form id="login" method="get" action="get_all_topics">    
  <label><b>Get All Topics  
  </b>    
  </label>
  <br>
  <input class="btn btn-default" type="submit" name="{{ user }}" id="{{ user }}" value="Button"/>  
  <br><br>
</form>   
</body>

<body> 
<div class="group">
  <form id="login" method="post" action="get_notified">    
    <label><b>Get Notified  
    </b>    
    </label> 
    <br>    
    <input class="btn btn-default" type="submit" name="log" id="log" value="Button">  
    <br><br>           
  </form>   
</body>

<!-- <body> 
  <form id="login" method="post" action="unsubscribe_button">    
    <label><b>Advertise  
    </b>    
    </label>     
    <br>
    <input class="btn btn-default" type="submit" name="log" id="log" value="Button">  
    <br><br>           
  </form>   
</div>
</body> -->

</html>